@import url(./root.css);

/* About Us CSS  */

.about__left {
    text-align: left;
    padding: 0 15px;
    padding-right: 3rem;
  }
  
  .about__left .title {
    color: var(--orange-color);
  }
  
  .about__left h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
  }
  
  .about__right {
    padding: 0 15px;
  }
  
  .about__right p {
    color: white;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color-1);
  }
  
  /* About Us Responsive */

  @media screen and (max-width:1080px) {
    .about__left .title__2{
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media screen and (max-width:800px) {
    .row{
      margin: 0 -15px;
    }
  }

  @media screen and (max-width: 600px) {
    .about__left {
      padding-right: 0;
    }
    .about__left .title{
      font-size: 16px;
    }
    .about__left .title__2{
      font-size: 30px !important;
      line-height: 38px;
    }

    .about__right p{
      font-size: 16px;
      line-height: 26px;     
    }
  }

  @media screen and (max-width: 480px){
    .about__left .title__2{
      font-size: 26px !important;
      line-height: 36px;
    }
  }

  @media screen and (max-width: 375px){
    .about__left .title{
      font-size: 16px;
      letter-spacing: .5px;
    }
    .about__left .title__2{
      font-size: 24px !important;
      line-height: 34px;
    }
  }