@import url(./root.css);

.darkMode {
  background-color: white;
}

/* Header Dark Mode */

.darkMode .fa-sun {
  opacity: 0;
  display: none;
}

.darkMode .navbar__lightMode .fa-moon {
  visibility: visible;
  opacity: 1;
  display: block;
  position: absolute;
  top: 50px;
}

/* moon icon responsive  */

@media screen and (max-width: 992px) {
  .darkMode .navbar__lightMode .fa-moon {
    top: 48px;
  }
}

@media screen and (max-width: 800px) {
  .darkMode .navbar__lightMode .fa-moon {
    top: 108px;
  }
}
.darkMode .navbar__right input {
  background-color: white;
  border: none;
}

.darkMode .navbar__right .fa-search {
  color: var(--bg-color);
}

/* About Us Dark Mode */
.darkMode .about__left .title__2 {
  color: var(--bg-color);
}

.darkMode .about__right p {
  color: var(--bg-color);
}

/* Marketing Dark Mode */

.darkMode .marketing__content .title__2 {
  color: var(--bg-color);
}

.darkMode .marketing__sub .sub__title {
  color: var(--bg-color);
}

/* Category Dark Mode */

.darkMode .category {
  background-color: #f7f7f7;
}

.darkMode .category__title .title__2 {
  color: var(--bg-color);
}

/* Features Dark Mode */

.darkMode .features .item__wrap {
  background: white;
  border: 1px solid #eee;
}

.darkMode .features__item .header__icon {
  background-color: rgba(130, 115, 252, 0.05);
}
.darkMode .features__item:hover .header__icon > i {
  color: white;
}

.darkMode .item__header .infor p {
  color: var(--bg-color);
}

.darkMode .item__wrap .item__content p {
  color: rgba(22, 28, 45, 0.7);
}

.darkMode .item__header .infor h4 a {
  color: var(--bg-color);
}

.darkMode .item__header .infor h4 a:hover {
  color: var(--orange-color);
}

/* stat dark mode */

.darkMode .stat__counter {
  background-color: white;
}

.darkMode .stat__counter .counter__number {
  color: black;
}

.darkMode .stat__counter .counter__text {
  color: rgba(22, 28, 45, 0.7);
}

/* video dark mode */

.darkMode .video {
  background: white;
}

/* blog dark mode */

.darkMode .blog {
  background: white;
}
.darkMode .blog__title h3,
.darkMode .card__desc,
.darkMode .card-body p,
.darkMode .card__footer a {
  color: black;
}

.darkMode .card__footer a:hover,
.darkMode .card__desc:hover {
  color: black;
}

/* testimonial dark mode */

.darkMode .testimonial__item blockquote q,
.darkMode .testimonial__header h3 {
  color: black;
}

.darkMode .testimonial__item p {
  color: rgba(22, 28, 45, 0.7);
}

/* footer dark mode  */

.darkMode .footer__social a,
.darkMode .footer__content4 input {
  background: white;
}
