@import url(/css/root.css);

/* Marketing CSS  */
.marketing {
    background-color: var(--orange-color);
  }
  
  .marketing__img {
    background: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;
    position: relative;
    z-index: 1;
  }
  
  .marketing__img::after {
    content: "";
    background: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    min-height: 100%;
  }
  
  .marketing__content h6 {
    font-family: var(--pacifico);
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    display: block;
  }
  
  .marketing__content h3 {
    color: white;
  }
  
  .marketing__content p {
    color: #ffdfc9;
    font-size: 18px;
  }
  
  .marketing__sub {
    gap: 30px;
  }
  
  .marketing__sub__item .sub__icon {
    background: white;
    width: 70px;
    height: 70px;
    text-align: center;
    color: var(--orange-color);
    line-height: 70px;
    font-size: 25px;
    border-radius: var(--border-radius);
    transition: all 0.25s;
  }
  
  .marketing__sub__item .sub__title {
    display: block;
    color: white;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .marketing__sub__item .sub__title:hover {
    opacity: 0.9;
  }
  
  .marketing__sub__item p {
    color: #ffdfc9;
  }
  
  .marketing__sub__item:hover .sub__icon {
    color: #ffc600;
  }

  /* Marketing Responsive  */
  @media screen and (max-width:1080px) {
    .marketing__content h3{
      font-size: 32px;
      line-height: 40px;
    }
  }

  @media screen and (max-width:992px) {
    .marketing .row{
      margin: 0;
      padding: 0;
    }
    .marketing__left .marketing__img{
      min-height: 200px;
    }

    .marketing__sub__item .sub__title{
      font-size: 18px;
    }
  }

  @media screen and (max-width:600px) {
    .marketing__content h6{
      font-size: 16px;
    }
    .marketing__content h3{
      font-size: 30px;
      line-height: 38px;
    }
    .marketing__content p{
      font-size: 16px;
      line-height: 26px;
    }
    .marketing__sub__item p{
      font-size: 16px;
      line-height: 26px;
    }
  }

  @media screen and (max-width:480px){
    .marketing__content h3{
      font-size: 26px;
      line-height: 36px;
    }
  }

  @media screen and (max-width:375px){
    .marketing__content h6{
      font-size: 16px;
      letter-spacing: 0.5px;
    }
    .marketing__content h3{
      font-size: 24px;
      line-height: 34px;
    }
  }
  