@import url(./root.css);

.video {
  background-color: var(--bg-color);
}
.video__content {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}

.video__content::before {
  content: "";
  background: rgb(16 15 19 / 60%);
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
  position: absolute;
}

.video__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: white;
  line-height: 76px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  color: var(--orange-color);
  border: transparent;
  animation: ripple 1s linear infinite;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}

.mfp-close,
.mfp-close:active {
  top: -35px;
  right: -25px;
  font-size: 30px;
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-container {
  padding: 0;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* Video responsive */

@media screen and (max-width: 768px) {
  .mfp-close,
  .mfp-close:active {
    top: -18px;
    right: -13px;
    font-size: 25px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .mfp-inline-holder .mfp-content {
    width: 95%;
  }
}

@media screen and (max-width: 675px) {
  .mfp-close,
  .mfp-close:active {
    top: 26px;
    right: -10px;
    font-size: 25px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .mfp-inline-holder .mfp-content {
    width: 95%;
  }
}

@media screen and (max-width: 576px) {
  .mfp-close,
  .mfp-close:active {
    top: 45px;
    right: -8px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
 .mfp-close,
  .mfp-close:active {
    top: 81px;
    right: -8px;
    font-size: 15px;
  }
}


@media screen and (max-width: 376px) {
  .mfp-close,
  .mfp-close:active {
    top: 92px;
    right: -8px;
    font-size: 15px;
  }
}

@media screen and (max-width: 280px) {
  .mfp-container{
    left: 11px;
  }
  .mfp-close,
  .mfp-close:active {
    top: 113px;
    right: -10px;
    font-size: 15px;
  }
}
